.footer {
   padding: 45px 0px;
   background-color: #1c242a;
   &__container {
      display: flex;
      @media(max-width: 767px){
      display: block;
      text-align: center;
      }
   }

   &__column {
      &:first-child{
         flex: 0 0 180px;
      }
      &_full{
         flex: 1 1 auto;
      }
      &:last-child{
         text-align: right;
      }
   }
   
   &__logo {
      display: inline-block;
      margin: 0px 0px 25px 0px;
      @media(max-width: 767px){
      margin: 0px 0px 0px 0px;
      }
   }

   &__info {   
   font-family: 'PT Sans';
   font-size: 14px;
   line-height: calc(21/14);
   font-weight: 400;
   color: #bb9c66;
   @media(max-width: 767px){
   margin: 25px 0px 0px 0px;
   }
   &_a{
      @media(max-width: 767px){
         display: none;
      }
   }
   &_b{
      display: none;
      text-align: center;
      @media(max-width: 767px){
         display: block;
      }
   }
   
   }

   &__menu {
      padding: 0px 30px;
      @media(max-width: 767px){
      margin: 0px 0px 20px 0px;
      }
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      li{
            margin: 15px 15px 0px 0px;
      }
      @media(max-width: 767px){
         justify-content: center;
         li{
            margin: 15px 7px 0px 7px;
         }
      }
   }

   &__link {
      font-family: "PFDin";
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      @media(min-width: 992px){
         &:hover{
            text-decoration: underline;
         }
      }
   }

   &__phone {
      white-space: nowrap;
      display: flex;
      align-items: flex-start;
      color: #bb9c66;
      font-family: "BravoRGRegular";
      font-size: 50px;
      text-transform: uppercase;
      small{
         margin: 2px 5px 0px 0px;
         font-size: 25px;
      }
      @media(max-width: 991px){
         font-size: 40px;
         small{
            font-size: 20px;
         }
      }
   }
   &__contacts{
      padding: 12px 0px 0px 0px;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media(max-width: 767px){
      align-items: center;
      }
   }
   &__callback {
      color: #bb9c66;
      background: url("../img/footerarrow.png") left no-repeat;
      padding: 0px 0px 0px 12px;
      span{
         border-bottom: 1px dashed #bb9c66;
      }
   }
}
