@import "fonts";

//&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular&display=swap&subset=cyrillic-ext");

$fontfamily:"PT Sans";

$minwidth: 320px;
$mw: 970;
$md1: ($mw + 12) + px;
$md2: 991.98 + px ;
$md3: 767.98 + px;
$md4: 479.98 + px;

@import "nullstyle";

._container{
   max-width: $mw + px;
   margin: 0 auto;
   padding: 0 10px;
   overflow: hidden;
}

._wrapper{
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
._ibg{
   
   img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
//==========Шаблон для контеинера==========
/*._container{
   max-width: $mw + px;
   margin: 0 auto;
   @media (max-width:$md1){
      max-width: 970px;
   }
   @media (max-width:$md2){
      max-width: 750px;
   }
   @media (max-width:$md3){
      max-width: none;
      padding: 0 10px;
   }
}*/
//=========================================

// body{
//    background-color: #000;
//    span{
//       color:red;
//    }
//    background: url("../img/8e081a.jpg");
// }
// @media (max-width: 768px){
//    span{
//       font-size: 20px;
//    }
// }

// @media (max-width: 768px){
//    body{
//       background-color: grey;
//    }
// }




// @import "swiper-bundle";
@import "header";
@import "ui";
@import "forms";
@import "footer";

//ОСНОВНОЙ КОД=================
.page{
   flex: 1 1 auto;
   padding: 75px 0px 0px 0px;
}

body._lock{
   overflow: hidden;
}
.main-slider {
   position: relative;
   .swiper-wrapper{
      align-items: stretch;
      @media(max-width: $md3){
         align-items: flex-start;
      }
   }
   &__body {
      min-width:0;
   }

   &__item {
   }

   &__control {
      position: absolute;
      left: 50%;
      z-index: 2;
      bottom: 0px;
      width: 100px;
      height: 100px;
      transform: translate(-50%, 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      &:after{
         content: "";
         background-color: #fff;
         position: absolute;
         top: 50%;
         left: 50%;
         height: 70%;
         width: 70%;
         transform: translate(-50%,-50%) rotate(45deg);
      }
   }
}
.item-main-slider {
   
   text-align: center;
   padding: 30px 0px 100px 0px;
   position: relative;
   &__content {
      position: relative;
      z-index: 2;
      height: 100%;
   }

   &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__text{
      flex: 1 1 auto;
      margin: 25px auto 0px auto;
      font-family: "PFDin";
      max-width: 700px;
      color: #fff;
      font-size: 15px;
      line-height: calc(25/15);
   }

   &__bg {
      img{
         position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      }
   }
   &__btn{
      margin: 55px 0px 0px 0px;
   }
}
   .btn{
      
   }

   ._container {
   }

   ._ibg {
   }

.control-main-slider {

		&__arrow {
         position: relative;
         z-index: 3;
         background: url("../img/arrowleft.png");
         width: 14px;
         height: 24px;
         cursor: pointer;
			&_prev {
            
			}

			&_next {
            transform: rotate(-180deg);
			}
		}

		&__decor {
         position: relative;
         margin: 0px 12px;
         z-index: 2;
         animation: rotate 5s infinite linear;
		}
}
@keyframes rotate {
   0%{

   }
   100%{
      transform: rotate(360deg);
   }
}


//=====================
.lots {
      padding: 85px 0px 58px 0px;
   &__container {
   }

   &__header { 
      margin: 0px 0px 40px 0px;
   }

   &__slider {
   }
}


.slider-lots {
   
   &__body {
      //margin: 0px -50px;
      margin: 0px 0px 50px 0px;
      
      .swiper-wrapper{
         align-items: stretch;
      }
   }

   &__slide {
      //padding: 0px 50px;
      height: auto;
   }

   &__control {
   }
}
.control-slider-lots {
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   &__arrow {      
      cursor: pointer;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      span{
         background: url("@img/arrowdecor.png") left no-repeat;
         width: 108px;
         height: 35px;
         overflow: hidden;
         flex: 0 0  108px;
         @media(max-width: 450px){
            flex: 0 0 50px;
         }
      }
      &:after{
         content: "";
         margin: 0px 5px;
         width: 15px;
         height: 15px;
         border-radius: 50%;
         border: 1px solid #bb9c66; 
      }
      &:last-child{
         flex-direction: row-reverse;
         span{
            transform: rotate(-180deg);
         }
      }
   }

   &__link {
      background: url("@img/circle.png") 0 0 no-repeat;
      flex: 0 0 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      color: #000;
      font-weight: 500;
      text-transform: uppercase;
      font-family: "PFDin";
      margin: 0px 20px;
   }
}

//=============================================================================

.categories {
   margin: 0px 0px 70px 0px;
   @media(max-width: 767px){
      margin: 0px 0px 35px 0px;
   }
   &__items{
      margin: 0px 0px 85px 0px;
      @media(max-width: 767px){
         margin: 0px 0px 0px 0px;
      }
   }

   &__container {
   overflow: hidden;
   position: relative;
   &:after{
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 45px;
      background-color: #fff;
   }
   }

   &__row {
      display: flex;
      margin: 0px -50px;
      position: relative;
      padding: 37px 0px 0px 0px;
      flex-wrap: wrap;
      &:before,
      &:after{
         content: "";
         position: absolute;
         width: calc(24px*0.72);
         height:calc(24px*0.72);
         flex: 0 0 calc(24px*0.72);
         transform: translate(-50%,0) rotate(-45deg);
         border: 1px solid #bb9c66;
         top: 5px;
         margin: 0px 0px 0px 1px;
      }
      &:before{
         left: 33.333%;
      }
      &:after{
         left: 66.667%;
      }
      @media(max-width: 975px){
         &:before{
            left:50%;
         }
         &:after{
            display: none;
         }
      }
      @media(max-width: 650px){
         &:before{
            display: none;
         }
         padding: 15px 0px 0px 0px;
         }
   }

   &__column {
      padding: 0px 50px 25px;
      flex: 0 1 33.333%;
      margin: 0px 0px 25px 0px;
      position: relative;
      display: flex;
      justify-content: center;
      &:before{

         content: "";
         background-color: #bb9c66;
         width: 10px;
         height: 10px;
         flex: 0 0 10px;
         border-radius: 50%;
         position: absolute;
         left: 50%;
         bottom: -5px;
         transform: translate(-50%,0);
    }
    @media(max-width: 975px){
      flex: 0 1 50%; 
    }
    @media(max-width: 650px){
      flex: 1 1 100%;
    }
   }
   &__item {
   }

   &__decor{
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: calc(100% + 9px);
      transform: translate(50%,0);
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      &:before{
         content: "";
         background-color: #bb9c66;
         width: 1px;
         flex: 1 1 auto;
      }
      &:after{
         content: "";
         width: 24px*0.72;
         height: 24px*0.72;
         flex: 0 0 24px*0.72;
         transform: rotate(-45deg);
         border: 1px solid #bb9c66;
         margin: 15px 0px 0px 0px;
      }
      span{
         flex: 1 1 auto;
         display: flex;
         flex-direction: column;
         align-items: center;
         
         &:before{

            content: "";
            background-color: #bb9c66;
            width: 10px;
            height: 10px;
            flex: 0 0 10px;
            border-radius: 50%;
            margin:20px 0;
         }
         &:after{
            content: "";
            background-color: #bb9c66;
            width: 1px;
            flex: 1 1 auto;
         }
      }
   }

	&__text {
      
	}



}
.text-categories {
   color: #333333;
   font-size: 15px;
   font-family: "PT Sans";
   line-height: calc(25/15);
   p{
      margin: 0px 0px 25px 0px;
      &:last-child{
         margin: 0px 0px 0px 0px;
      }
   }
   &__body{
   background:url("@img/pattern2.png") left top repeat-y;
   padding: 10px 0px 25px 130px;
   position: relative;
   &:before{
      content: "";
      background:url("@img/pattern1.png") 0 0 no-repeat;
      position: absolute;
      top: -5px;
      left: 0;
      width: 85px;
      height: 6px;
      @media(max-width: 767px){
         display: none;
      }
      
   }
   @media(max-width: 767px){
      padding: 10px 0px 25px 0px;
      background: none;
   }
   }
   &__container {
      overflow: visible ;
   }

}
//===================================================
.services {
   padding: 60px 0px 40px 0px;
   background-color: #1c242a;
   @media(max-width: 640px){
      padding: 40px 0px 0px 0px;
   }
   &__row{
      margin: 0px -50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__column{
      flex: 0 1 33.333%;
      margin: 0px 0px 45px 0px;
      padding: 0px 50px;
      @media(max-width: 975px){
         flex: 0 1 50%; 
      }
      @media(max-width: 640px){
         flex: 1 1 100%;
      
      }
   }

   &__container {
   }

   &__header {
      margin: 0px 0px 40px 0px;
      
   }
   
   &__item{

   }
}
//====================================================
.quotes {
   padding: 64px 0px 75px 0px;
   @media(max-width: 767px){
      padding: 35px 0px 35px 0px;
   }
   &__container {
   }
   &__header {
   }
   &__slider {
   }
}

.slider-quotes {

   &__body {
      @media(max-width: 570px){
         margin: 30px 0px 30px 0px;
      }
   }

   &__slide {
      display: flex;
      align-items: center;
      @media(max-width: 570px){
         display: block;
      }
   }
   

   &__content{
      flex: 0 1 515px;
   }
   &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 20px;
      flex: 0 0 calc(320px/950px * 100%);
      img{
         max-width: 100%;
      }
   }

   &__title {
      font-size: 25px;
      font-style: italic;
      font-family: "PT Sans";
      line-height: calc(30/25);
      margin: 0px 0px calc(30px/25px * 1em) 0px;
      
   }

   &__info {
      color: #1c242a;
      font-size: 15px;
      font-family: "PT Sans";
      p{
         margin: 0px 0px 7px 0px;
         &:last-child{
            margin: 0px 0px 0px 0px;
         }
         
      }
   }

   &__control {
   }
}
.swiper-wrapper {
}
.control-slider-quotes {
   display: flex;
   align-items: center;
   max-width: 400px;
   margin: 0 auto;
   justify-content: center;
   &__decor {
      flex: 0 1 33.333%;
      display: flex;
      align-items: center;
      &:before{
         content: "";
         flex: 1 1 auto;
         height: 1px;
         background-color: #bb9c66;
      }
      &:after{
         content: "";
         height: 10px;
         width: 10px;
         border-radius: 50%;
         border: 1px solid #bb9c66;
         margin: 0px 0px 0px 5px;
      }
      &:last-child{
         flex-direction: row-reverse;
         &:after{
            margin: 0px 5px 0px 0px;
         }
      }
   }

   &__link {
      text-align: center;
      flex: 0 1 33.333%;
   }
   &__circle{
      display: inline-flex;
      border: 1px solid #bb9c66;
      width: 50px;
      cursor: pointer;
      height: 50px;
      border-radius: 50%;
      background: url("@img/loadcircle.png") center no-repeat;
   }
   &__circle._active{
      transition: all 1s ease 0s;
      transform: rotate(360deg);
   }
}

//=======================================================
.info {
   padding: 0px 0px 75px 0px;
   
   @media(max-width: 767px){
      padding: 0px 0px 35px 0px;
      }
   &__container {
   }

   &__row {
      display: flex;
      margin: 0px -22px;
      flex-wrap: wrap;
      @media(max-width: 767px){
      display: block;
      }
   }

   &__column {
      flex: 0 1 50%;
      padding: 0px 22px;
      margin: 0px 0px 55px 0px;
      
      &:last-child{
         flex: 1 1 100%;
         margin: 0px 0px 0px 0px;
      }
      @media(max-width: 767px){
         margin: 0px 0px 30px 0px;
         }
   }

   &__block {
   }

   &__title {
   }

   &__content {
   }

   &__item {
      margin: 0px 0px 30px 0px;
      @media(max-width: 767px){
         margin: 0px 0px 20px 0px;
         }
   }

   &__data {
      font-family: "PT Sans";
      color: #bb9c66;
      line-height: 25px;
      font-size: 12px;
      margin: 0px 0px 5px 0px;
      
   }

   &__label {
      color: #333333;
      font-weight: 700;
      text-decoration: underline;
      font-family: "PT Sans";
      font-size: 15px;
      display: inline-block;
      margin: 0px 0px 5px 0px;
      
   }

   &__text {
      font-family: "PT Sans";
      font-size: 15px;
      line-height: calc(21/15);
   }

   &__subscribe {
   }
}
.title-info {
   display: flex;
   align-items: center;
   font-size: 35px;
   font-family: "PFDin";
   letter-spacing: 3.5px;
   font-weight: 500;
   text-transform: uppercase;
   margin: 0px 0px 30px 0px;
   @media(max-width: 767px){
   margin: 0px 0px 15px 0px;
   }
   span{
      &:first-child{
         margin: 0px 15px 0px 0px;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
}
.subscribe {

   &__title {
         }

   &__body {
      display: flex;
      margin: 0px -22px;
      @media(max-width: 767px){
         display: block;
         }
   }

   &__column {
      flex: 0 1 50%;
      padding: 0px 22px;
   }

   &__text {
      font-family: "PT Sans";
      font-size: 15px;
      line-height: calc(21/15);
      @media(max-width: 767px){
         margin: 0px 0px 25px 0px;
         }
   }

   &__form {
   }
}
.form-subscribe {
   height: 50px;
   border: 3px solid #bb9c66;
   background-color: #ffffff;
   display: flex;
   &__input {
      flex: 1 1 auto;
   }

   &__btn {
      flex: 0 0 95px;
      position: relative;
      background-color: #fff;
      &:before{
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         transform: translate(0px,-50%);
         width: 1px;
         height: 32px;
         background-color: #bb9c66;
      }
      span{
         background: url("@img/formarrow.png") right no-repeat;
         padding: 0px 32px 0px 0px;
         font-family: 'PFDin';
         color: #1c242a;
         font-size: 21px;
         font-weight: 500;
         text-transform: uppercase;
         letter-spacing: 2.1px;
      }
   }
}

